@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-primary: var(--color-emerald-500);
  --color-secondary: var(--color-blue-500);
  --color-tertiary: var(--color-purple-500);
}

/* Shiki */
html.dark .shiki,
html.dark .shiki span {
  /* biome-ignore lint/complexity/noImportantStyles: shiki */
  color: var(--shiki-dark) !important;
  /* biome-ignore lint/complexity/noImportantStyles: shiki */
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  /* biome-ignore lint/complexity/noImportantStyles: shiki */
  font-style: var(--shiki-dark-font-style) !important;
  /* biome-ignore lint/complexity/noImportantStyles: shiki */
  font-weight: var(--shiki-dark-font-weight) !important;
  /* biome-ignore lint/complexity/noImportantStyles: shiki */
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
